  <nav>
    <ul>
      <li><a href="/auth/app">Клиенты</a></li>
      <li><a href="/auth/app/company/{{companyRes.id}}">{{companyRes.company}}</a></li>
    </ul>
</nav>


{{companyRes.company}}

<div class="group-block">
  <a class="btn" href="/auth/app/company/device/{{companyRes.id}}">Добавить
    Доступы</a>
  <h2 class="text-primary">Доступы подразделения</h2>
</div>
{{#if accessesRes}}
<div>
  <table class="table-info">
    <thead>
      <tr>
        <th>Имя</th>
        <th>Категория</th>
        <th>Хост</th>
        <th>Логин</th>
        <th>Пароль</th>
        <th>Метод подключения</th>
        <th>Подразделение</th>
      </tr>
    </thead>
    <tbody>
      {{#each accessesRes}}
        <tr>
          <td>{{name}}</td>
          <td>{{category}}</td>
          <td>{{host}}</td>
          <td>{{login}}</td>
          <td>{{password}}</td>
          <td>{{method}}</td>
          <td>{{division}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{else}}
<p>Нет Доступов</p>
{{/if}}